.buttonFull {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
  line-height: 1;
  flex: none;
  font-size: var(--h6-fontsize);
  border-radius: var(--button-radius);
  height: var(--button-height);
  border: none;
  white-space: nowrap;
  background: var(--bg-primary);
  color: var(--text-primary);
  font-weight: var(--font-weight-400);
  padding: var(--button-padding);
  z-index: 10;
  overflow: hidden;
  transition: all 0.3s ease;
}

.buttonFull::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  background: var(--bg-extra);
  border-radius: var(--button-radius);
  z-index: -1;
  transform: translateY(-150%);
  transition: all 0.3s ease;
}

.buttonFull:hover::after {
  transform: translateY(0);
}

.buttonFull:hover {
  color: var(--text-secondary);
}

.buttonDark {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-align: center;
  line-height: 1;
  font-size: var(--h6-fontsize);
  font-weight: var(--font-weight-400);
  flex: none;
  border-radius: var(--button-radius);
  white-space: nowrap;
  height: var(--button-height);
  border: none;
  background: var(--bg-extra);
  color: var(--text-secondary);
  padding: var(--button-padding);
  z-index: 10;
  overflow: hidden;
  transition: all 0.3s ease;
}

.buttonDark::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  background: var(--bg-primary);
  border-radius: var(--button-radius);
  z-index: -1;
  transform: translateY(150%);
  transition: all 0.3s ease;
}

.buttonDark:hover::after {
  transform: translateY(0);
}

.buttonDark:hover {
  color: var(--text-primary);
}
