.heroMain,
.skillSection,
.workSection,
.aboutSection {
  position: relative;
  max-width: 100%;
  width: 100%;
  border-bottom: 1px solid var(--border-primary);
}

.skillInner,
.workInner,
.aboutInner {
  position: relative;
  max-width: 100%;
  width: 100%;
  padding: var(--section-main-space);
}

.heroInner {
  position: relative;
  max-width: 100%;
  height: var(--hero-height);
  padding: var(--section-main-space);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heroMainFlex {
  display: flex;
  width: 100%;
  align-items: center;
  gap: var(--hero-gap);
  justify-content: center;
}

.heroMainImage {
  position: relative;
  width: 100%;
  max-width: var(--hero-image-width);
  height: var(--hero-image-height);
  border-radius: var(--hero-image-radius);
  background: linear-gradient(135deg, #d8dbd5, #bcbdb6);
  object-fit: cover;
  flex: none;
  object-position: top;
}

.heroTextArea {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: var(--hero-text-gap);
}

.heroDesignation {
  position: relative;
  text-transform: uppercase;
  color: var(--text-muted);
}

.heroSocialFlex {
  position: relative;
  display: flex;
  align-items: center;
  gap: var(--hero-text-gap);
}

.heroSocialIcon {
  font-size: var(--icon-fontsize);
  position: relative;
  transition: all 0.3s ease;
}

.heroSocialIcon:hover {
  transform: scale(1.09, 1.09);
  color: var(--text-muted);
}

/* ****************************************************** hero end *******************************************************************************/

.skillFlex {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.skillTag {
  position: relative;
  padding: var(--button-padding);
  border-radius: var(--button-radius);
  height: var(--button-height);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: var(--h6-fontsize);
  text-align: center;
  line-height: 1;
  flex: none;
  color: var(--text-primary);
  gap: 10px;
  border: 1px solid var(--border-primary);
  background: var(--bg-secondary);
  box-shadow: var(--box-shadow-main);
  transition: transform 0.8s ease;
}

.skillTag:nth-child(odd) {
  transform: translateX(100px);
}

.skillTag:nth-child(even) {
  transform: translateX(-100px);
}

.skillTag:last-child {
  transform: translateY(-150px);
}

.skillTagNormal.skillTag:nth-child(odd) {
  transform: translateX(0);
}

.skillTagNormal.skillTag:nth-child(even) {
  transform: translateX(0);
}

.skillTagNormal.skillTag:last-child {
  transform: translateY(0);
}

.skillHeading {
  position: relative;
  text-transform: uppercase;
  text-align: center;
  padding: var(--content-bottom-space);
}

/* ****************************************************** skill end *******************************************************************************/

.workHeadingArea {
  height: var(--work-heading-height);
  position: sticky;
  top: 0;
  display: flex;
  gap: var(--work-height-gap);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.workHeadingScollText {
  position: relative;
  color: var(--text-muted);
  text-transform: uppercase;
}

.workCardArea {
  position: relative;
  min-height: var(--work-cardarea-height);
  display: flex;
  flex-direction: column;
  gap: var(--work-cardarea-gap);
}

/* ***************************************************** */

.aboutParaArea {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--about-para-gap);
}

.experienceArea {
  position: relative;
  gap: 20px;
  display: flex;
  flex-direction: column;
}

.experienceCard {
  position: relative;
  display: grid;
  background: var(--bg-secondary);
  border: 1px solid var(--border-primary);
  padding: var(--experience-card-padding);
  gap: var(--experience-card-gap);
  border-radius: 40px;
  align-items: center;
  z-index: 10;
  transition: all 0.6s ease;
  grid-template-columns: var(--experience-card-grid);
  min-height: var(--experience-card-height);
}

.experienceCard:nth-child(2) {
  margin-top: -110px;
  z-index: 0;
  transform: scale(0.9);
}

.experienceCard:nth-child(3) {
  margin-top: -110px;
  z-index: -1;
  transform: scale(0.8);
}

.experienceCard.experienceCardShowAll {
  margin-top: 0;
  transform: scale(1);
}

.viewMessage {
  position: relative;
  text-align: center;
  text-transform: uppercase;
  padding: 20px 0 0;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  color: var(--text-muted);
  justify-content: center;
  transition: all 0.3s ease;
}

.aboutGrid {
  display: grid;
  grid-template-columns: var(--about-grid);
  gap: var(--about-gap);
  padding: var(--content-top-space);
}

/* ****************************************************************** */

@media (max-width: 767.98px) {
  .heroInner {
    justify-content: end;
    padding: 120px 0 50px;
  }
  .heroMainFlex {
    flex-direction: column-reverse;
  }

  .skillFlex {
    justify-content: start;
    width: 100%;
    flex-wrap: nowrap;
    overflow-y: auto;
  }

  .skillTag:nth-child(odd) {
    transform: translateX(0);
  }

  .skillTag:nth-child(even) {
    transform: translateX(-0);
  }

  .skillTag:last-child {
    transform: translateY(-0);
  }

  .skillTag {
    box-shadow: none;
  }

  .workHeadingArea {
    position: relative;
    padding: var(--content-bottom-space);
  }
}

@media (min-width: 768px) and (max-width: 1023.98px) {
  .workHeadingArea {
    position: relative;
    padding: var(--content-bottom-space);
  }

  .skillTag:nth-child(odd) {
    transform: translateX(60px);
  }

  .skillTag:nth-child(even) {
    transform: translateX(-60px);
  }

  .skillTag:last-child {
    transform: translateY(-60px);
  }
}

@media (min-width: 1024px) and (max-width: 1599.98px) {
  .heroMainFlex {
    margin: 40px 0 0;
  }
}
